.sidebar {
  background-color: #ffffff;
  height: 100vh;
  width: 200px;
  padding: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  

  .top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .icon {
      font-size: 1.2rem;
      font-weight: bold;
      color: #2196f3;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  hr {
    margin: 0;
    border: none;
    border-top: 1px solid #f2f2f2;
  }

  .center-part {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 10px 0;

        .link {
          display: flex;
          align-items: center;

          &:hover {
            background-color: #f2f2f2;
            color: #2196f3;
          }

          span {
            font-size: 0.9rem;
            margin-left: 10px;
          }
        }

        svg {
          color: #2196f3;
        }
      }
    }
  }

  .bottom-part {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
    color: #666666;
  }
}
